@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #222222;
  --airbnb-red: #FF385C;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
}